@charset "utf-8";

body {

	position: relative;
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: #ffffff;
	-webkit-text-size-adjust: 100%;   /* iPhone・Safari自動フォントリサイズ対策 */
	font-family: "Hiragino Maru Gothic W2 JIS2004";

}
h1{

	border-left: 10px solid #ffa500;
	font-size: 8.0vmin;

}
h2{

	border-left: 10px solid #ffa500;
	font-size: 7.0vmin;

}
p{

	font-size: 6.0vmin;

}
table{

	font-size: 6.0vmin;

}
table tr.day{

	height: 30vw;

}
input[type = "text"]{

	font-size: 8.0vmin;
	line-height: 16.0vmin;
	width: 40vw;
	height: 16.0vmin;
	margin-top: 10.0vh;

}
input[type = "text"]::placeholder {

	font-size: 6.0vmin;

}
input[type = "password"]{

	font-size: 8.0vmin;
	line-height: 16.0vmin;
	width: 40vw;
	height: 16.0vmin;
	margin-top: 10.0vh;

}
input[type = "radio"]{

	display: none;

}
input.good[type="radio"] + label {

	display: inline-block;
	background-image: url("../images/circle.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 20vw;
	height: 20vw;
	margin-left: 5vw;
	margin-right: 5vw;

}
input.good[type="radio"]:checked + label {

	background-image: url("../images/circle_checked.png");

}
input.notgood[type="radio"] + label {

	display: inline-block;
	background-image: url("../images/cross.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 20vw;
	height: 20vw;
	margin-left: 5vw;
	margin-right: 5vw;

}
input.notgood[type="radio"]:checked + label {

	background-image: url("../images/cross_checked.png");

}
div{

	text-align: center;

}
input[type = "submit"] {

	width: 40vmax;
	height: 5.0em;
	font-size: 5.0vmin;
	border-radius: 0;
	background-color: #ffa500;
	margin-top: 10vh;
	margin-bottom: 30vh;

}
input[type = "submit"]:hover {

	opacity: 0.5;

}
